.bottom {
  position: fixed;
  bottom: 30px;
  width: 40px;
  height: 35px;
  font-size: 20px;
  color: rgb(128, 128, 128);
  border: 1px solid rgb(230, 230, 230);
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 800px) {
    width: 15px;
    height: 30px;

    .apagar {
      display: none;
    }
  }
}
