.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
   @media  (max-width: 800px) {
     align-items:center;
   }
  .title {
    font-size: 28px;
    margin-bottom: 25px;
    border: 2px solid transparent;
    
    &:hover {
      width: min-content;
      border-bottom:2px solid #3A3A3A;
      opacity: 0.7;
      cursor: pointer;
      
      

    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
    @media  (max-width: 800px) {
      display:grid;
      grid-template-columns:1fr 1fr;
      grid-gap:15px
    }
  }
 

   
}
